<div class="row">
 
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true">
      <h3>20500</h3>
      <p class="text-muted"> Total Orders</p>
      <app-apex-chart chartID="seo-chart-1" [chartConfig]="this.seoChartData1"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true">
      <h3>20500</h3>
      <p class="text-muted">Total Sales</p>
      <app-apex-chart chartID="seo-chart-2" [chartConfig]="this.seoChartData2"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true">
      <h3>28000</h3>
      <p class="text-muted">Total Products</p>
      <app-apex-chart chartID="seo-chart-3" [chartConfig]="this.seoChartData3"></app-apex-chart>
    </app-card>
  </div>
  
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c-yellow order-card">
      <h6 class="text-white">Revenue</h6>
      <h2 class="text-white">42,562</h2>
      <p class="m-b-0">5,032 <i class="feather icon-arrow-up m-l-10"></i></p>
      <i class="card-icon feather icon-filter"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
      <h6 class="text-white">Orders Received</h6>
      <h2 class="text-white">486</h2>
      <p class="m-b-0">5,032 <i class="feather icon-arrow-up m-l-10 m-r-10"></i>1,055 <i class="feather icon-arrow-down"></i></p>
      <i class="card-icon feather icon-users"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
      <h6 class="text-white">Total Sales</h6>
      <h2 class="text-white">1641</h2>
      <p class="m-b-0">5,032 <i class="feather icon-arrow-down m-l-10 m-r-10"></i>1,055 <i class="feather icon-arrow-up"></i></p>
      <i class="card-icon feather icon-radio"></i>
    </app-card>
  </div>
  
  
  

    
</div>
